.signin {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  border: 5rem;
}

.signin > h2 {
  font-size: 24px;
  font-weight: 300;
  margin-top: 2rem;
}

.button {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  background-color: white;
  color: #33255f;
  word-wrap: none;
  word-break: keep-all;
  margin-bottom: 2rem;
  outline: none;
}

.input,
.disable {
  opacity: 0.4;
  cursor: text;
}

.create,
.input,
.disable {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 300px;
  border: 2px solid #33255f;
  padding: 8px 16px;
}

.create {
  background-color: #33255f;
  color: white;
}

.input {
  outline: none;
}

.signin > h3 {
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.accept {
  width: 100%;
}
